
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

/*menu*/
.menu {
    width: 200px;
    background-color: #b119e8;
    color: white;
    padding: 20px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Cabeçalho */
.cabecalho {
    background-color: #d861c9;
    color: white;
    padding: 20px;
}

.blocos {
    display: flex;
    flex: 0.5;
    padding: 20px;
    gap: 20px;
}

/* Blocos*/
.bloco {
    flex: 0.5;
    background-color: #edb6f1;
    padding: 20px;
    text-align: center;
    border: 1px solid #febfff;
    height: 150px;
}